<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.compubase.seven">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/seven_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/seven_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activity.FlagsActivity"/>
        <activity android:name=".ui.activity.AddPostNewActivity" />
        <activity android:name=".ui.activity.RegisterActivity" />
        <activity android:name=".ui.activity.ForgetPassword2Activity" />
        <activity android:name=".ui.activity.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.PolicyActivity" />
        <activity android:name=".ui.activity.NotificationActivity" />
        <activity android:name=".ui.activity.MessagesActivity" />
        <activity android:name=".ui.activity.AboutUsActivity" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.activity.AddPostActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.activity.HarageDetailsActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.activity.ImagePreviewActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".ui.activity.SplashActivity">

        </activity>

        <activity android:name=".ui.activity.Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>